.vscode/settings.json
venv/
.python-version
.pytest_cache/
*.pyc
.tox/
.vagrant/
lib/potential_pro_fit.egg-info/
tests/vagrant/basic/ubuntu-bionic-18.04-cloudimg-console.log
tests/vagrant/slurm/ubuntu-bionic-18.04-cloudimg-console.log
